body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9; /* Добавил фоновый цвет */
}

header {
    background-color: #f0f0f0;
    padding: 20px; /* Уменьшил отступы для мобильных устройств */
}

.logo {
    width: 120px; /* Уменьшил ширину логотипа для мобильных */
}

h1 {
    color: #333;
    font-size: 1.5em; /* Уменьшил размер заголовка для мобильных */
}

.app-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Позволяет кнопкам располагаться на нескольких строках */
}

.app-store-btn img,
.google-play-btn img {
    width: 120px; /* Уменьшил размеры кнопок для мобильных */
    height: auto;
    margin: 0 10px;
}

.features {
    display: flex;
    flex-direction: column; /* Меняем направление на колонку для мобильных */
    padding: 20px; /* Уменьшили отступы для мобильных */
    background-color: #ffffff; /* Фоновый цвет для секции */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для секции */
    border-radius: 10px; /* Скругление углов */
    margin: 20px; /* Отступы сверху и снизу */
}

.feature {
    text-align: left; /* Выравнивание текста влево */
    padding: 10px; /* Уменьшили отступы внутри каждого элемента */
}

.feature h2 {
    color: #007bff; /* Цвет заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

.how-it-works {
    padding: 20px; /* Уменьшили отступы для мобильных */
    background-color: #e7f3ff; /* Светлый фон для секции */
    border-radius: 10px; /* Скругление углов */
    margin: 20px; /* Отступы сверху и снизу */
}

.how-it-works h2 {
    color: #333; /* Цвет заголовка */
}

.how-it-works ol {
    text-align: left; /* Выравнивание текста влево */
    margin: 0 auto; /* Центрирование списка */
    padding: 0; /* Удаление отступов */
}

.how-it-works li {
    margin: 10px 0; /* Отступы между элементами списка */
    padding: 5px 10px; /* Внутренние отступы */
    border-left: 4px solid #007bff; /* Левая граница */
    color: #333; /* Цвет текста */
}

.map {
    padding: 20px; /* Уменьшили отступы для мобильных */
    background-color: #ffffff; /* Фоновый цвет для секции */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для секции */
    border-radius: 10px; /* Скругление углов */
    margin: 20px; /* Отступы сверху и снизу */
}

.map h2 {
    color: #333; /* Цвет заголовка */
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

form input,
form textarea {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

input,
textarea {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 150, 255, 0.5);
}

footer p {
    color: white;
    margin-top: 20px;
    text-align: center;
}

/* Мобильные стили */
@media (max-width: 768px) {
    .features {
        flex-direction: column; /* Вертикальная компоновка для мобильных */
    }

    .feature {
        width: 100%; /* Полная ширина для мобильных */
        margin: 10px 0; /* Отступы между элементами */
    }

    .map {
        padding: 10px; /* Уменьшение отступов для мобильных */
    }

    h1 {
        font-size: 1.2em; /* Уменьшение размера заголовка для мобильных */
    }
}

.donate-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
/* Стиль контейнера для прогресс-бара */
.progress-bar-container {
    width: 50%; /* Ширина контейнера */
    height: 20px; /* Высота контейнера */
    background-color: #e0e0e0; /* Цвет фона контейнера */
    border-radius: 10px; /* Закругленные углы */
    overflow: hidden; /* Для предотвращения выхода прогресс-бара за пределы контейнера */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Внутренняя тень для объема */
    margin: 20px auto; /* Центрирование по горизонтали через auto */
  }

/* Стиль для самого прогресс-бара */
.progress-bar {
    height: 100%; /* Высота прогресс-бара равна высоте контейнера */
    background-color: #007bff; /* Основной цвет прогресс-бара */
    border-radius: 10px; /* Закругленные углы */
    transition: width 0.4s ease; /* Анимация изменения ширины */
  }
  
